<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhl.module_sample">

    <application
        android:name=".debug.SampleApplication"
        android:allowBackup="true"
        android:label="module_sample"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.CommonAppTheme">

        <activity android:name=".debug.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.zhl.module_sample.activity.SampleListActivity" />
        <activity android:name="com.zhl.module_sample.activity.SmartListActivity" />
        <activity android:name="com.zhl.module_sample.activity.SampleDetailActivity" />


    </application>

</manifest>