<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhl.module_main">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.SampleViewPager2Activity" />
        <activity android:name=".activity.test.DialogTestActivity" />
        <activity android:name=".activity.test.MagicIndicatorSampleActivity" />
        <activity android:name=".activity.test.BasicCoroutineActivity" />
        <activity android:name=".activity.NetworkTestActivity" />
        <activity android:name=".activity.UserProfileActivity" />
        <activity android:name=".activity.test.LiveDataSampleActivity" />
        <activity android:name=".activity.LottieTestActivity" />
    </application>

</manifest>