<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhl.module_b">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".debug.BApplication"
        android:allowBackup="true"
        android:label="module_b"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.CommonAppTheme"
        >
        <activity android:name=".debug.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>